/* Write your CSS here */
.home-app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-bg-dark {
  background-color: #000000;
}

.home-bg-light {
  background-color: #ffffff;
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 124px;
}

.home-heading {
  font-family: 'Roboto';
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .home-heading {
    font-size: 48px;
  }
}

.home-text-light {
  color: #ffffff;
}

.home-text-dark {
  color: #1e293b;
}
