/* Write your CSS here */
.navbar-container {
  display: flex;
  justify-content: space-around;
}

.navbar-bg-dark {
  background-color: #333333;
}

.navbar-bg-light {
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0px 0px 0px 1px #dcdcdc;
}

.navbar-content {
  width: 85%;
  max-width: 1110px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar-content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.website-logo {
  height: 48px;
  margin-left: 12px;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.nav-menu-item {
  width: 100%;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
}

.nav-link {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.list-text-dark-theme {
  color: #ffffff;
}

.list-text-light-theme {
  color: #171f46;
}

.theme-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.theme-image {
  height: 32px;
}
